header{
    h2{
        text-align: center;
        font-size: 3rem;
        padding:2rem;
    }
}
footer{
    padding:1rem;
}
label{
    font-weight: bold;
    padding-right: 15px;
}

.row{
    margin: 10px 0;
}
button{
    margin-top: 25px;
}